.user-form-control{    
   
   margin-top: 20px;  
   margin-left: auto;   
   margin-right: auto;  
   width: 250px;
   height: 250px;
   flex-direction: column;
}
.form-control-items{
    
  
    margin-top: 20px;
    border-radius: 12px;
    display:flex;
    text-align:left;
    flex-direction: column;
    margin-right: 20px;
     padding: auto;
     background-color: white;
    


}

#btn-sbt{
    font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
  }
  .input-group1{
    
    height: 25px;
    width: 250px;
  }
